<%- include('./partials/header') %>
  <div class="container body">
    <div id="posts">
      <% posts.forEach((post) => { %>
        <div class="post" id="post-<%= post._id %>">
          <div class="user-info">
              <img src="<%= post.user.avatar %>" alt="avatar" class="avatar-post">
              <span class="user-name">&nbsp;&nbsp;&nbsp;<%= post.user.givenName %> <%= post.user.familyName %></span>
              <% if (user && (user._id === post.user._id || user.adm)) { %>
                <a class="modal-trigger dots" href="#1st-<%= post._id %>" target="<%= post.id %>">[...]</a>
              <% } %>
          </div>
          <div class="user-post">
            <p><%= post.post %></p>
          </div>
          <div class="user-comment">
            <p id="comments">&nbsp;&nbsp;Comments:</p>
            <div class="display-comments" id="post-comments-<%= post._id %>">
              <% post.comments.forEach((comment) => { %>
                <p class="comments" id="ptag-<%= comment.id %>">
                  <span class="full-name-comment">&nbsp;&nbsp;[<%= comment.user.givenName %> <%= comment.user.familyName %>]</span> <span id="<%= comment.id %>"><%= comment.comment %></span>
                  <% if (user && (user._id === post.user._id || user.adm)) { %>
                    <a class="edit" href="<%= post.id %>/<%= comment.id %>" value="<%= comment.id %>">(edit)</a> <a class="delete" href="<%= post.id %>/<%= comment.id %>" value="<%= comment.id %>">(delete)</a>
                  <% } %>
                </p>
              <% }) %>
            </div>
          </div>
          <% if (user) { %>
            <div class="user-new-comment">
              <div class="comment-field">
                <input class="input-new-comment" id="input-<%= post._id %>" type="text" required>
                <button class="button-new-comment" id="submit-<%= post._id %>" value="<%= post._id %>">Comment</button>
              </div>
            </div>
          <% } %>
        </div>
      <% }) %>
    </div>
    <% if (user) { %>
      <div id="posts-side">
        <div id="chat-box">
          <div id="chat-msg">
             <div>
                <ul id="msg"></ul>
             </div>
          </div>
          <div id="chat-input-button">
            <input id="chat-input" type="text">
            <button id="chat-button">Send</button>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div id="append-modal">
    <div id="modal-commentId" class="modal">
       <div class="modal-content">
          <h6>Edit Comment</h6>
          <input id="input-update-comment" type="text">
          <button id="submit-update-comment" value="path">Update Comment</button>
       </div>
    </div>
    <div id="1st-postId" class="modal">
      <div class="modal-content">
        <h6>Edit Post - Menu</h6>
        <button class="modal-trigger" href="#2nd-postId">Edit</button>
        <button id="delete-post" value="path">Delete</button>
      </div>
    </div>
    <div id="2nd-postId" class="modal">
      <div class="modal-content">
        <h6>Edit Post</h6>
        <input id="input-update-post" class="new-post" style="border: 1px solid lightgrey;" value="postId" type="text">
        <button id="submit-update-post" class="btn white-text" value="path">Update Post</button>
      </div>
    </div>
  </div>
  <% if (user) { %>
    <p id="userName" hidden><%= user.givenName %> <%= user.familyName %></p>
  <% } %>
<%- include('./partials/footer') %>